<div *ngIf = "display">
  <app-atom-spinner
    [animationDuration]="1000"
    [size]="60"
    [color]="'#ff1d5e'">
  </app-atom-spinner>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Movies</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.movies }}</td>
    </tr>
  </tbody>
</table>